{{! Footer }}

<footer class="glassworks-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-7">
        <h6>New Orleans Glassworks & Printmaking Studio</h6>
        <p>
          727 Magazine Street<br />
          New Orleans, Louisiana 70130
        </p>
        <p><a href="#0">+1 504 529 7279 tel</a></p>
      </div>

      <div class="col-xs-12 col-md-5">
        {{! MailChimp Signup Form }}
        <h6>Sign up to receive occasional emails.</h6>
        <div class="input-group">
          <input type="text" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Subscribe</button>
          </span>
        </div><!-- /input-group -->
      </div>
    </div>
  </div>
</footer>