<div class="google-maps">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3457.1549102872655!2d-90.06896939999999!3d29.946222500000008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8620a673ea60501f%3A0x9aee6eab510d3897!2s727+Magazine+St%2C+New+Orleans%2C+LA+70130!5e0!3m2!1sen!2sus!4v1410195479827" width="600" height="450" frameborder="0" style="border:0">
  </iframe>
</div>