<!-- www.123contactform.com script begins here -->

<!-- formalign --><center>

<script type="text/javascript">
<!--
var formrules=new Array(0);

//-->
</script>
<script type="text/javascript">
var cfJsHost = (("https:" == document.location.protocol) ? "https://" : "http://");
document.write(unescape("%3Cscript src='" + cfJsHost + "dflzqrzibliy5.cloudfront.net/includes/interactive123cf.js?6194' type='text/javascript'%3E%3C/script%3E"));
</script>

<style type="text/css">
  .focus { background: #FEF1C1; }
  .class123-label { font-family: Verdana, Geneva, sans-serif; font-size: small; color: #000000;}
  .headline { color: #000000; }
  .class123-labelmic { font-family: Verdana, Geneva, sans-serif; font-size: xx-small; color: #666666; }
  .class123-labelinfo { font-family: Verdana, Geneva, sans-serif; font-size: xx-small; color: #666666; }
  .class123-sidebyside { float:left; margin:0 5px 0 0;}
  .class123-twocol { float:left; width:45%; margin:0 5px 0 0;}
  .class123-threecol { float:left; width:30%; margin:0 5px 0 0;}
  .class123-likert_style_li { display:table-cell; vertical-align:middle; text-align:center; top:0px; padding:0px; /*width:20%;*/ height:50px; margin:0px; font:79%/100% verdana; font-weight:bold; background:#f8f8f8; zoom:1; *display:inline; }
  .class123-likert_style_li2 { display:table-cell; vertical-align:middle; text-align:center; top:0px; padding:0px; /*width:20%;*/ height:50px; margin:0px; font:79%/100% verdana; zoom:1; *display:inline; }
  .class123-select { height:1.6em; }



  .class123-savereturn { background: none; border: medium none; text-decoration: underline; cursor: pointer; padding:5px 10px;}
  .class123-goback { background: none; border: medium none; text-decoration: underline; cursor: pointer; padding:5px 10px; color: #C80042;}
  .class123-pbline { display:none; }
  .class123-pbprev { background: none; border: medium none; text-decoration: underline; cursor: pointer; padding-left:0px; padding-right:0px; }
  .class123-pagination { float:left; width:99%; /*min-width:550px;*/ font-size:10px; margin:0px; margin-bottom:10px; }
  #mainform123 .class123-pagination { background-color:#; }.class123-progresscircle { margin:0px !importat; background: #CCC; width: 24px; height: 24px; -moz-border-radius: 12px; -webkit-border-radius: 12px; border-radius: 12px; float:left; }
  .class123-progresscircleactive { margin:0px !importat; background:#FEF1C1; width: 24px; height: 24px; -moz-border-radius: 12px; -webkit-border-radius: 12px; border-radius: 12px; }
  .class123-progresstext { display:table-cell; height:100%; width: 24px; text-align:center; padding-top:3px; font-family: Verdana, Geneva, sans-serif; font-size:13px; }
  .class123-progressPercDiv { float:left; width:100%; margin:0px !important; -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; border: 1px solid #ccc; padding:2px; }
  #mainform123 .class123-progressPercDiv { background:#; }

  .class123-progressPercBar { float:left; text-align:right; line-height:23px; padding-right:4px; font-weight:bold; height: 24px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; margin:0px !importat; background:#FEF1C1;}
  #mainform123 .class123-progressPercBar { background:#FEF1C1; }

  .class123-pagename { float:left; font-family: Verdana, Geneva, sans-serif; line-height:14px; margin-left:5px; max-width:85px; margin-top:5px; }
  .currentPageActive { display:block; }
  .currentPageInactive { display:none; }
  .formdefaultbutcolor { background-color: #C80042 }
  .formnotextButton { width:150px; }

  .fontbold { font-weight: bold; }
  .fontitalic { font-style: italic; }
  .requiredspan { font-family: Verdana; font-size:10px; color:#f00; margin-left:3px; }
  .requiredfield:after{content: "\0000a0*";color:#FF0000;font-size:10px;font-family:Verdana;}
  .columntable tr td { padding:5px; }
  .class123_maintable { text-align: left; }
  .formdefaultbut { display:inline; list-style:none; margin-right:4px; color:#fff; border:none; cursor:pointer; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; font-weight:bold; vertical-align: middle; }
  .footerLink13:link,.footerLink13:visited,.footerLink13:active { font-size:small!important;color:#404040!important; text-decoration:underline!important;}
  .footerLink13:hover{font-size:small!important;color:#FFFFFF!important;text-decoration:none!important;background-color:#C80042!important;}

  /* NEW STYLES BEGIN */
  .maintable_centered { margin-left:10%; margin-right:10%; }
  .divonecolumn { width:48% !important; float:left; display:block; margin-right:3px; }

  .optionscontainer { width:100%; display:block; float: left; text-align:left; }
  .optionscontainer.pagination {margin-top:6px;}
  .errormsg, .fielderror { color: #f00 !important; }
  .customerror { background-color: # !important; border-color: #f00 !important; }
  div[id^="class123-bicTOSFrame"] { background-color:white; overflow-y: auto; } /* height not needed anymore */

  .timer-container {float:right; }
  .timer-container.timer-locked {margin-bottom:-27px;}
  #form-timer { padding-left:8px;padding-right:8px; float:right;background-color: #000000; color:#FFFFFF; border-radius:3px;overflow:hidden;margin-top:2px;  }
  #form-timer .countdown {float:right;}
  #form-timer span { line-height: 24px;   padding-bottom: 3px; padding-top: 3px; }
  #form-timer span.hours-label,#form-timer span.minutes-label { border-right:#FFFFFF solid 1px;padding-right:6px;margin-right:5px; }
  #form-timer span.hours-label,#form-timer span.minutes-label,#form-timer span.seconds-label  { font-size:12px;padding-left:2px;}
  #form-timer span.hours-value,#form-timer span.minutes-value,#form-timer span.seconds-value { font-size:15px; }
  #form-timer .timer-clock {float:right; padding-right:7px;font-size:15px;}
  @media only screen and (max-width:640px){
    .timer-container.timer-locked {margin-bottom:0px !important;}
    }

  .fieldcontainer { float: left; margin:0; padding:0; width:100%; } /* OLD: margin-bottom:3px; also had display:none, which caused bug on form 376500 */
  .fieldcontainer div .rowleft, .fieldcontainer div .rowright { display:block; float: left; }

  .fieldcontainer .rowleft { margin:6px 1%; width:34%; }
  .fieldcontainer .rowright { margin:6px 1%; width: 62%; }
  .fieldcontainer .rowup { margin:3px 0.5%; width: 96%; float:left; }
  .fieldcontainer .rowdown { margin:3px 0.5%; width:96%; float:left; }
  .fieldcontainer .uberfieldlat { margin:3px 1%; }
  .fieldcontainer #printlink { margin-left: 0.5%; }
  .class123-separ-row { float:left; width:100%; background-color: transparent; }

  .fieldwidth100 { float:left; width:100%; }
  .fieldwidth90  { float:left; width:90%; }
  .fieldwidth85  { float:left; width:85%; }
  .fieldwidth80  { float:left; width:80%; }
  .fieldwidth75  { float:left; width:75%; }
  .fieldwidth70  { float:left; width:70%; }
  .fieldwidth65  { float:left; width:65%; }
  .fieldwidth60  { float:left; width:60%; }
  .fieldwidth55  { float:left; width:55%; }
  .fieldwidth50  { float:left; width:50%; }
  .fieldwidth45  { float:left; width:45%; }
  .fieldwidth40  { float:left; width:40%; }
  .fieldwidth35  { float:left; width:35%; }
  .fieldwidth30  { float:left; width:30%; }
  .fieldwidth25  { float:left; width:25%; }
  .fieldwidth20  { float:left; width:20%; }
  .fieldwidth15  { float:left; width:15%; }
  .fieldwidth10  { float:left; width:10%; }

  .sortabledemo .fieldwidth90, .sortabledemo .fieldwidth80, .sortabledemo .fieldwidth70, .sortabledemo .fieldwidth60, .sortabledemo .fieldwidth50, .sortabledemo .fieldwidth40, .sortabledemo .fieldwidth30, .sortabledemo .fieldwidth20, .sortabledemo .fieldwidth10
  { background-image:url("/images3/bg-field-container.png");background-repeat:repeat-x;position:relative;background-position:bottom; }
   .thebuttons .divonecolumn.second { padding:6px; }
  .fieldcontainer img.tcalIcon{ max-width:100px!important; }
  .fieldcontainer img, select { max-width:99% !important; } /* fix for Samsung devices */
  #ajax_editField_defaultCountrySel { width:100% !important; }
  #formeditor_page #basicoptions .ui-icon-triangle-2-n-s { -moz-appearance: menulist-button; height: 19px; margin-right: -3px; margin-top: -1px; padding: 0; width: 15px; }
  #formeditor_page #advancedoptions .ui-icon-triangle-2-n-s { -moz-appearance: menulist-button; height: 19px; margin-right: -3px; margin-top: -1px; padding: 0; width: 15px; }
  #formeditor_page #basicoptions .ui-multiselect { width:185px!important; background-color:white; border-style:inset; border-radius:0px; color:black; font-weight:normal; padding:0px; -moz-appearance: menulist; -webkit-appearance:menulist; font-size:13px; height:20px; }
  #formeditor_page #advancedoptions .ui-multiselect { width:185px!important; background-color:white; border-style:inset; border-radius:0px; color:black; font-weight:normal; padding:0px; -moz-appearance: menulist; -webkit-appearance:menulist; font-size:13px; height:20px; }
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    #formeditor_page #basicoptions .ui-icon-triangle-2-n-s { margin-right:0px!important; margin-top:0px!important; width:19px!important;  }
    #formeditor_page #advancedoptions .ui-icon-triangle-2-n-s { margin-right:0px!important; margin-top:0px!important; width:19px!important;  }
    #formeditor_page #basicoptions .ui-multiselect {border-color:#c3c3c3; -webkit-appearance:menulist;}
    #formeditor_page #advancedoptions .ui-multiselect {border-color:#c3c3c3; -webkit-appearance:menulist;}
  }

  .class123-firstname, .class123-lastname { width:95px; margin-right:10px; }
  .class123-address { max-width:400px; }
  .class123-hidden { display:none !important; }
  /* NEW STYLES END */
</style>
   <!--[if lte IE 8]>
  <style type="text/css">
  .class123-likert_style_li2 {height:56px;}
  </style>
  <![endif]-->
<script type="text/javascript">
<!--
var selectedfield='';
var multiPageCurent=1;
var multiPageTotal=1;
function InputActions(field,id) {
  var textcolor='#000000';
  var hltextcolor='#000000';
  $('.class123-labelinfo.class123-labelhidden').addClass('hidden_instruction');
  $(field).closest('.fieldcontainer').find('.class123-labelinfo').removeClass('hidden_instruction');
  //var calendar = $('img[title="Close Calendar"]').trigger('click');


  if (id==selectedfield) { /* alert('do nothing'); */ }
  else
    {
    // first we unhighlight the previous field, if any
    if (selectedfield!='')
      {
      //$('.tcalIcon').closest('.fieldcontainer').css('background','none repeat scroll 0 0 #fff');
      lid=selectedfield;
      lidsec=lid.replace('row','rowsec');

      // reparam culoare textlabels
      var tr=document.getElementById(lid);

      if (document.getElementsByClassName)
        {
      var textlabels = tr.getElementsByClassName('class123-label');
      for (j=0;j<textlabels.length;j++)
        textlabels[j].style.color=textcolor;
        }
        else
        {
        var textlabels=tr.getElementsByTagName('label');
        for (j=0;j<textlabels.length;j++)
          if (textlabels[j].className.indexOf('class123-label')>-1) textlabels[j].style.color=textcolor;
        }
      var oldbg='';
      if (document.getElementById('errorflag'+lid)!=null)
        oldbg=document.getElementById('errorflag'+lid).value;

      // reparam culoare bg td
      var tds = tr.getElementsByTagName('div');
      for (j=0;j<tds.length;j++)
        tds[j].parentNode.parentNode.style.background=oldbg;

      // reparam culoare bg td sec
      if (document.getElementById(lidsec) != null)
        {
        var trsec=document.getElementById(lidsec);
        tds = trsec.getElementsByTagName('div');
        for (j=0;j<tds.length;j++)
          tds[j].parentNode.parentNode.style.background=oldbg;
        }
      }
    // then we highlight the new one
    selectedfield=id;

    lid=id;
    lidsec=lid.replace('row','rowsec');

    // modificam culoare textlabels
    var tr=document.getElementById(lid);
    if (document.getElementsByClassName)
      {
    var textlabels = tr.getElementsByClassName('class123-label');
    for (j=0;j<textlabels.length;j++)
      textlabels[j].style.color=hltextcolor;
      }
      else
      {
      var textlabels=tr.getElementsByTagName('label');
      for (j=0;j<textlabels.length;j++)
        if (textlabels[j].className.indexOf('class123-label')>-1) textlabels[j].style.color=hltextcolor;
      }

    // modificam culoare bg td
    var tds = tr.getElementsByTagName('div');for (j=0;j<tds.length;j++)
        tds[j].parentNode.parentNode.style.background='#FEF1C1';

      // modificam culoare bg td sec
      if (document.getElementById(lidsec) != null)
        {
        var trsec=document.getElementById(lidsec);
        tds = trsec.getElementsByTagName('div');
        for (j=0;j<tds.length;j++)
          tds[j].parentNode.parentNode.style.background='#FEF1C1';
        }
    }
  // now the field rules

  InputRules2('beginning','0');
}
//IB: functie utila pt cand vrem sa introducem virgula de formatare la price
// function addDecimalPoints(inputElement) {
  // inputElement.value=inputElement.value.replace(/\D/g, '');
  // var inputValue = inputElement.value.replace(',', '').split('').reverse().join(''); // reverse
  // var newValue = '';
  // for (var i = 0; i < inputValue.length; i++) {
    // if (i % 3 == 0) {
      // newValue += ',';
    // }
    // newValue += inputValue[i];
  // }
  // newValue = newValue.split('').reverse().join('');
  // inputElement.value = newValue.substr(0, newValue.length-1);
// }

function IsFullDateEntered(c_id) {
if((document.getElementById('id123-control'+c_id+'-1') != null)&&(document.getElementById('id123-control'+c_id+'-2')!=null)&&(document.getElementById('id123-control'+c_id+'-3')!=null))
  {
  if  ((document.getElementById('id123-control'+c_id+'-1').value!='')&&(document.getElementById('id123-control'+c_id+'-2').value!='')&&(document.getElementById('id123-control'+c_id+'-3').value!=''))
    document.getElementById('id123-control'+c_id).value=document.getElementById('id123-control'+c_id+'-1').value+'/'+document.getElementById('id123-control'+c_id+'-2').value+'/'+document.getElementById('id123-control'+c_id+'-3').value;
  }
}
//-->
</script><form  class="form" onsubmit="RefreshFrameHeight(1); return checkSubmitAllowed();" action="http://www.123contactform.com/form-285036/PartyReception-Inquiry" id="mainform123" method="post" name="mainform123" enctype="multipart/form-data">
<input type="hidden" name="action" value="verify"/><input type="hidden" name="special_autoresponder" id="special_autoresponder" value=""/><input type="hidden" name="language" value="en"/><input type="hidden" name="languageChanged" value="no"/><div class="class123_maintable maintable_centered" style="min-width:150px; " >

<!-- Form headline begins -->
<div class='optionscontainer headline'><div><font size="5">Yes, please contact me about parties/receptions at GlassWorks!<br></font><hr></div></div>
<!-- Form headline ends -->

<script type='text/javascript'>
var  js_ctype_arr = new Array();
var  js_cobject_arr = new Array();
js_ctype_arr[1743964]=6;
js_cobject_arr[1743964]=1;
js_ctype_arr[1743965]=6;
js_cobject_arr[1743965]=2;
js_ctype_arr[1743966]=6;
js_cobject_arr[1743966]=3;
js_ctype_arr[1743970]=0;
js_cobject_arr[1743970]=0;
js_ctype_arr[1743990]=0;
js_cobject_arr[1743990]=0;
js_ctype_arr[1743995]=4;
js_cobject_arr[1743995]=0;
js_ctype_arr[1744005]=0;
js_cobject_arr[1744005]=0;
js_ctype_arr[1744009]=4;
js_cobject_arr[1744009]=0;
js_ctype_arr[1744019]=0;
js_cobject_arr[1744019]=0;

</script><!-- fieldcontainer -->
<div id="fieldcontainer1" class="fieldcontainer currentPage1 currentPageActive  fieldwidth100    "  style=" ">
<div id="row1" class="currentPage1 currentPageActive">
<div class="rowleft"  style="text-align:left; ">
<label class="class123-label class123-fieldname fontbold  requiredfield " id="id123-title1743964" style="position: relative;" for="id123-control1743964-1" >Name</label><!--[if lte IE 7]><span class="requiredspan">*</span><![endif]--></div>
<div class="rowright" align="left" style=""><input type="hidden" id="errorflagrow1" value=""/><span class="class123-firstname" style="float:left;  margin-bottom:0px;">
<input type="text"    style="width:98%;margin-bottom:0px; margin-top:0px;" id="id123-control1743964-1" value="" name="control1743964-1"  onclick=" InputActions(this,'row1');" onkeyup=" InputActions(this,'row1');  " onchange="InputRules(1743964); ; " /><br/>
<label class="class123-labelmic " style="" id="id123-title1743964-1" for="id123-control1743964-1">First</label>
</span>
<span class="" style="padding-right:5px; float:left;"><label class="class123-label"> </label></span>
<span class="class123-lastname" style="float:left;  margin-bottom:0px;">
<input type="text"    style="width:98%;margin-bottom:0px; margin-top:0px;" id="id123-control1743964-2" value="" name="control1743964-2"  onclick=" InputActions(this,'row1');" onkeyup=" InputActions(this,'row1');  " onchange="InputRules(1743964); ; " /><br/>
<label class="class123-labelmic " style="" id="id123-title1743964-2" for="id123-control1743964-2">Last</label>
</span>
<div style="clear:both;"></div>
</div></div>
</div>
<!-- fieldcontainer ends -->

<!-- fieldcontainer -->
<div id="fieldcontainer2" class="fieldcontainer currentPage1 currentPageActive  fieldwidth100    "  style=" ">
<div id="row2" class="currentPage1 currentPageActive">
<div class="rowleft"  style="text-align:left; ">
<label class="class123-label class123-fieldname fontbold " id="id123-title1743965" style="position: relative;" for="id123-control1743965-1" >Address</label></div>
<div class="rowright" align="left" style=""><input type="hidden" id="errorflagrow2" value=""/><div class="class123-address"><span  style="float:left; margin:0; width:100%; margin-right:10px; margin-bottom:7px;">
<input type="text"    style="width:99%;margin-bottom:0px; margin-top:0px;" id="id123-control1743965-1" value="" name="control1743965-1"  onclick=" InputActions(this,'row2');" onkeyup=" InputActions(this,'row2');  " onchange="InputRules(1743965); ; " /><br/>
<label class="class123-labelmic " style="" id="id123-title1743965-1" for="id123-control1743965-1">Street Address</label>
</span>
<span class="" style="padding-right:5px; float:left;"><label class="class123-label"> </label></span>
<span  style="float:left; margin:0;width:100%; margin-right:10px; margin-bottom:7px;">
<input type="text"    style="width:99%;margin-bottom:0px; margin-top:0px;" id="id123-control1743965-2" value=" " name="control1743965-2"  onclick=" InputActions(this,'row2');" onkeyup=" InputActions(this,'row2');  " onchange="InputRules(1743965); ; " /><br/>
<label class="class123-labelmic " style="" id="id123-title1743965-2" for="id123-control1743965-2">Street Address Line 2</label>
</span>
<span class="class123-city" style="float:left;margin:0; margin-right:4%; width:48%;  margin-bottom:7px;">
<input type="text"    style="width:98%;margin-bottom:0px; margin-top:0px;" id="id123-control1743965-3" value="" name="control1743965-3"  onclick=" InputActions(this,'row2');" onkeyup=" InputActions(this,'row2');  " onchange="InputRules(1743965); ; " /><br/>
<label class="class123-labelmic " style="" id="id123-title1743965-3" for="id123-control1743965-3">City</label>
</span>
<span class="" style="padding-right:5px; float:left;"><label class="class123-label"> </label></span>
<span class="class123-region" style="float:left;margin:0;  width:48%;  margin-bottom:7px;">
<input type="text"    style="width:98%;margin-bottom:0px; margin-top:0px;" id="id123-control1743965-4" value="" name="control1743965-4"  onclick=" InputActions(this,'row2');" onkeyup=" InputActions(this,'row2');  " onchange="InputRules(1743965); ; " /><br/>
<label class="class123-labelmic " style="" id="id123-title1743965-4" for="id123-control1743965-4">Region</label>
</span>
<span class="" style="padding-right:5px; float:left;"><label class="class123-label"> </label></span>
<span class="class123-zip" style="float:left; margin:0; margin-right:4%; width:48%;  margin-bottom:7px;">
<input type="text"    style="width:98%;margin-bottom:0px; margin-top:0px;" id="id123-control1743965-5" value="" name="control1743965-5"  onclick=" InputActions(this,'row2');" onkeyup=" InputActions(this,'row2');  " onchange="InputRules(1743965); ; " /><br/>
<label class="class123-labelmic " style="" id="id123-title1743965-5" for="id123-control1743965-5">Postal / Zip Code</label>
</span>
<span style="float:left; margin:0;  width:48%;  margin-bottom:7px;">
<select class="class123-select" style="width:99%; margin-bottom:0px; margin-top:0px;" id="id123-control1743965-6" name="control1743965-6"  onclick=" InputActions(this,'row2');" onkeyup=" InputActions(this,'row2');  " onchange="InputRules(1743965); ; ">
<option value="Afghanistan">Afghanistan</option>
<option value="Albania">Albania</option>
<option value="Algeria">Algeria</option>
<option value="Andorra">Andorra</option>
<option value="Angola">Angola</option>
<option value="Antigua & Deps">Antigua & Deps</option>
<option value="Argentina">Argentina</option>
<option value="Armenia">Armenia</option>
<option value="Australia">Australia</option>
<option value="Austria">Austria</option>
<option value="Azerbaijan">Azerbaijan</option>
<option value="Bahamas">Bahamas</option>
<option value="Bahrain">Bahrain</option>
<option value="Bangladesh">Bangladesh</option>
<option value="Barbados">Barbados</option>
<option value="Belarus">Belarus</option>
<option value="Belgium">Belgium</option>
<option value="Belize">Belize</option>
<option value="Benin">Benin</option>
<option value="Bermuda">Bermuda</option>
<option value="Bhutan">Bhutan</option>
<option value="Bolivia">Bolivia</option>
<option value="Bosnia Herzegovina">Bosnia Herzegovina</option>
<option value="Botswana">Botswana</option>
<option value="Brazil">Brazil</option>
<option value="Brunei">Brunei</option>
<option value="Bulgaria">Bulgaria</option>
<option value="Burkina">Burkina</option>
<option value="Burundi">Burundi</option>
<option value="Cambodia">Cambodia</option>
<option value="Cameroon">Cameroon</option>
<option value="Canada">Canada</option>
<option value="Cape Verde">Cape Verde</option>
<option value="Central African Rep">Central African Rep</option>
<option value="Chad">Chad</option>
<option value="Chile">Chile</option>
<option value="China">China</option>
<option value="Colombia">Colombia</option>
<option value="Comoros">Comoros</option>
<option value="Congo">Congo</option>
<option value="Costa Rica">Costa Rica</option>
<option value="Croatia">Croatia</option>
<option value="Cuba">Cuba</option>
<option value="Cyprus">Cyprus</option>
<option value="Czech Republic">Czech Republic</option>
<option value="Denmark">Denmark</option>
<option value="Djibouti">Djibouti</option>
<option value="Dominica">Dominica</option>
<option value="Dominican Republic">Dominican Republic</option>
<option value="East Timor">East Timor</option>
<option value="Ecuador">Ecuador</option>
<option value="Egypt">Egypt</option>
<option value="El Salvador">El Salvador</option>
<option value="Equatorial Guinea">Equatorial Guinea</option>
<option value="Eritrea">Eritrea</option>
<option value="Estonia">Estonia</option>
<option value="Ethiopia">Ethiopia</option>
<option value="Fiji">Fiji</option>
<option value="Finland">Finland</option>
<option value="France">France</option>
<option value="Gabon">Gabon</option>
<option value="Gambia">Gambia</option>
<option value="Georgia">Georgia</option>
<option value="Germany">Germany</option>
<option value="Ghana">Ghana</option>
<option value="Greece">Greece</option>
<option value="Grenada">Grenada</option>
<option value="Guatemala">Guatemala</option>
<option value="Guinea">Guinea</option>
<option value="Guinea-Bissau">Guinea-Bissau</option>
<option value="Guyana">Guyana</option>
<option value="Haiti">Haiti</option>
<option value="Honduras">Honduras</option>
<option value="Hungary">Hungary</option>
<option value="Iceland">Iceland</option>
<option value="India">India</option>
<option value="Indonesia">Indonesia</option>
<option value="Iran">Iran</option>
<option value="Iraq">Iraq</option>
<option value="Ireland">Ireland</option>
<option value="Israel">Israel</option>
<option value="Italy">Italy</option>
<option value="Ivory Coast">Ivory Coast</option>
<option value="Jamaica">Jamaica</option>
<option value="Japan">Japan</option>
<option value="Jordan">Jordan</option>
<option value="Kazakhstan">Kazakhstan</option>
<option value="Kenya">Kenya</option>
<option value="Kiribati">Kiribati</option>
<option value="Korea North">Korea North</option>
<option value="Korea South">Korea South</option>
<option value="Kosovo">Kosovo</option>
<option value="Kuwait">Kuwait</option>
<option value="Kyrgyzstan">Kyrgyzstan</option>
<option value="Laos">Laos</option>
<option value="Latvia">Latvia</option>
<option value="Lebanon">Lebanon</option>
<option value="Lesotho">Lesotho</option>
<option value="Liberia">Liberia</option>
<option value="Libya">Libya</option>
<option value="Liechtenstein">Liechtenstein</option>
<option value="Lithuania">Lithuania</option>
<option value="Luxembourg">Luxembourg</option>
<option value="Macedonia">Macedonia</option>
<option value="Madagascar">Madagascar</option>
<option value="Malawi">Malawi</option>
<option value="Malaysia">Malaysia</option>
<option value="Maldives">Maldives</option>
<option value="Mali">Mali</option>
<option value="Malta">Malta</option>
<option value="Marshall Islands">Marshall Islands</option>
<option value="Mauritania">Mauritania</option>
<option value="Mauritius">Mauritius</option>
<option value="Mexico">Mexico</option>
<option value="Micronesia">Micronesia</option>
<option value="Moldova">Moldova</option>
<option value="Monaco">Monaco</option>
<option value="Mongolia">Mongolia</option>
<option value="Montenegro">Montenegro</option>
<option value="Morocco">Morocco</option>
<option value="Mozambique">Mozambique</option>
<option value="Myanmar">Myanmar</option>
<option value="Namibia">Namibia</option>
<option value="Nauru">Nauru</option>
<option value="Nepal">Nepal</option>
<option value="Netherlands">Netherlands</option>
<option value="New Zealand">New Zealand</option>
<option value="Nicaragua">Nicaragua</option>
<option value="Niger">Niger</option>
<option value="Nigeria">Nigeria</option>
<option value="Norway">Norway</option>
<option value="Oman">Oman</option>
<option value="Pakistan">Pakistan</option>
<option value="Palau">Palau</option>
<option value="Palestina">Palestina</option>
<option value="Panama">Panama</option>
<option value="Papua New Guinea">Papua New Guinea</option>
<option value="Paraguay">Paraguay</option>
<option value="Peru">Peru</option>
<option value="Philippines">Philippines</option>
<option value="Poland">Poland</option>
<option value="Portugal">Portugal</option>
<option value="Puerto Rico">Puerto Rico</option>
<option value="Qatar">Qatar</option>
<option value="Romania">Romania</option>
<option value="Russian Federation">Russian Federation</option>
<option value="Rwanda">Rwanda</option>
<option value="St Kitts & Nevis">St Kitts & Nevis</option>
<option value="St Lucia">St Lucia</option>
<option value="Saint Vincent & the Grenadines">Saint Vincent & the Grenadines</option>
<option value="Samoa">Samoa</option>
<option value="San Marino">San Marino</option>
<option value="Sao Tome & Principe">Sao Tome & Principe</option>
<option value="Saudi Arabia">Saudi Arabia</option>
<option value="Senegal">Senegal</option>
<option value="Serbia">Serbia</option>
<option value="Seychelles">Seychelles</option>
<option value="Sierra Leone">Sierra Leone</option>
<option value="Singapore">Singapore</option>
<option value="Slovakia">Slovakia</option>
<option value="Slovenia">Slovenia</option>
<option value="Solomon Islands">Solomon Islands</option>
<option value="Somalia">Somalia</option>
<option value="South Africa">South Africa</option>
<option value="South Sudan">South Sudan</option>
<option value="Spain">Spain</option>
<option value="Sri Lanka">Sri Lanka</option>
<option value="Sudan">Sudan</option>
<option value="Suriname">Suriname</option>
<option value="Swaziland">Swaziland</option>
<option value="Sweden">Sweden</option>
<option value="Switzerland">Switzerland</option>
<option value="Syria">Syria</option>
<option value="Taiwan">Taiwan</option>
<option value="Tajikistan">Tajikistan</option>
<option value="Tanzania">Tanzania</option>
<option value="Thailand">Thailand</option>
<option value="Togo">Togo</option>
<option value="Tonga">Tonga</option>
<option value="Trinidad & Tobago">Trinidad & Tobago</option>
<option value="Tunisia">Tunisia</option>
<option value="Turkey">Turkey</option>
<option value="Turkmenistan">Turkmenistan</option>
<option value="Tuvalu">Tuvalu</option>
<option value="Uganda">Uganda</option>
<option value="Ukraine">Ukraine</option>
<option value="United Arab Emirates">United Arab Emirates</option>
<option value="United Kingdom">United Kingdom</option>
<option selected="selected" value="United States">United States</option>
<option value="Uruguay">Uruguay</option>
<option value="Uzbekistan">Uzbekistan</option>
<option value="Vanuatu">Vanuatu</option>
<option value="Vatican">Vatican</option>
<option value="Venezuela">Venezuela</option>
<option value="Vietnam">Vietnam</option>
<option value="Yemen">Yemen</option>
<option value="Zambia">Zambia</option>
<option value="Zimbabwe">Zimbabwe</option>
<option value="Other">Other</option>
</select><br/>
<label class="class123-labelmic " style="" id="id123-title1743965-6" for="id123-control1743965-6">Country</label>
</span>
<div style="clear:both;"></div>
</div></div></div>
</div>
<!-- fieldcontainer ends -->

<!-- fieldcontainer -->
<div id="fieldcontainer3" class="fieldcontainer currentPage1 currentPageActive  fieldwidth100    "  style=" ">
<div id="row3" class="currentPage1 currentPageActive">
<div class="rowleft"  style="text-align:left; ">
<label class="class123-label class123-fieldname fontbold  requiredfield " id="id123-title1743966" style="position: relative;" for="id123-control1743966-1" >Phone</label><!--[if lte IE 7]><span class="requiredspan">*</span><![endif]--><br/><label class="class123-labelinfo" id="id123-titlemic1743966">Please provide a reliable contact number.</label></div>
<div class="rowright" align="left" style=""><input type="hidden" id="errorflagrow3" value=""/><span class="class123-phone11" style="float:left;text-align:center; width:36px;margin-right:10px;  margin-bottom:0px;">
<input type="text" class="autotab123" size="3" maxlength="3" style="width:98%;margin-bottom:0px; margin-top:0px;" id="id123-control1743966-1" value="" name="control1743966-1"  onclick=" InputActions(this,'row3');" onkeyup=" InputActions(this,'row3'); jump(this,'3-3-4'); " onchange="InputRules(1743966); ; jump(this,'3-3-4');" /><br/>
<label class="class123-labelmic " style="width:100%" id="id123-title1743966-1" for="id123-control1743966-1">###</label>
</span>
<span class="class123-advsepar" style="padding-right:5px; float:left;"><label class="class123-label">-</label></span>
<span class="class123-phone12" style="float:left;text-align:center; width:36px; margin-right:10px;  margin-bottom:0px;">
<input type="text" class="autotab123" size="3" maxlength="3" style="width:98%;margin-bottom:0px; margin-top:0px;" id="id123-control1743966-2" value="" name="control1743966-2"  onclick=" InputActions(this,'row3');" onkeyup=" InputActions(this,'row3'); jump(this,'3-3-4'); " onchange="InputRules(1743966); ; jump(this,'3-3-4');" /><br/>
<label class="class123-labelmic " style="width:100%" id="id123-title1743966-2" for="id123-control1743966-2">###</label>
</span>
<span class="class123-advsepar" style="padding-right:5px; float:left;"><label class="class123-label">-</label></span>
<span class="class123-phone13" style="float:left;text-align:center; width:48px;  margin-bottom:0px;">
<input type="text" class="autotab123" size="4" maxlength="4" style="width:98%;margin-bottom:0px; margin-top:0px;" id="id123-control1743966-3" value="" name="control1743966-3"  onclick=" InputActions(this,'row3');" onkeyup=" InputActions(this,'row3'); jump(this,'3-3-4'); " onchange="InputRules(1743966); ; jump(this,'3-3-4');" /><br/>
<label class="class123-labelmic " style="width:100%" id="id123-title1743966-3" for="id123-control1743966-3">####</label>
</span>
<div style="clear:both;"></div>
</div></div>
</div>
<!-- fieldcontainer ends -->

<!-- fieldcontainer -->
<div id="fieldcontainer4" class="fieldcontainer currentPage1 currentPageActive  fieldwidth100    "  style=" ">
<div id="row4" class="currentPage1 currentPageActive">
<div class="rowleft"  style="text-align:left; ">
<label class="class123-label class123-fieldname fontbold  requiredfield " id="id123-title1743970" style="position: relative;" for="id123-control1743970" >Email</label><!--[if lte IE 7]><span class="requiredspan">*</span><![endif]--></div>
<div class="rowright" align="left" style=""><input type="hidden" id="errorflagrow4" value=""/><input id="id123-control1743970" name="control1743970"  onclick=" InputActions(this,'row4');" onkeyup=" InputActions(this,'row4');  " onchange="InputRules(1743970); ; " type="text" value="" style="width:160px; max-width:96% !important; position:relative;" />
</div></div>
</div>
<!-- fieldcontainer ends -->

<!-- fieldcontainer -->
<div id="fieldcontainer5" class="fieldcontainer currentPage1 currentPageActive  fieldwidth100    "  style=" ">
<div id="row5" class="currentPage1 currentPageActive">
<div class="rowleft"  style="text-align:left; ">
<label class="class123-label class123-fieldname fontbold  requiredfield " id="id123-title1743990" style="position: relative;" for="id123-control1743990" >Date of Event</label><!--[if lte IE 7]><span class="requiredspan">*</span><![endif]--><br/><label class="class123-labelinfo" id="id123-titlemic1743990">Not all dates requested are available.  Please have 1 or 2 alternatives.</label></div>
<div class="rowright" align="left" style=""><input type="hidden" id="errorflagrow5" value=""/><input id="id123-control1743990" name="control1743990"  onclick=" InputActions(this,'row5');" onkeyup=" InputActions(this,'row5');  " onchange="InputRules(1743990); ; " type="text" value="" style="width:160px; max-width:96% !important; position:relative;" />
</div></div>
</div>
<!-- fieldcontainer ends -->

<!-- fieldcontainer -->
<div id="fieldcontainer6" class="fieldcontainer currentPage1 currentPageActive  fieldwidth100    "  style=" ">
<div id="row6" class="currentPage1 currentPageActive">
<div class="rowleft"  style="text-align:left; ">
<label class="class123-label class123-fieldname fontbold  requiredfield " id="id123-title1743995" style="position: relative;" for="id123-control1743995" >Type of Event</label><!--[if lte IE 7]><span class="requiredspan">*</span><![endif]--></div>
<div class="rowright" align="left" style=""><input type="hidden" id="errorflagrow6" value=""/><select id="id123-control1743995" onclick=" InputActions(this,'row6');" onkeyup=" InputActions(this,'row6');  " onchange="InputRules(1743995); ; " name="control1743995" style="max-width:400px;" class="class123-select ">
<option value="Company Reception" selected="selected" >Company Reception</option>
<option value="Birthday"  >Birthday</option>
<option value="Fundraiser"  >Fundraiser</option>
<option value="Special Event"  >Special Event</option>
</select>
</div></div>
</div>
<!-- fieldcontainer ends -->

<!-- fieldcontainer -->
<div id="fieldcontainer7" class="fieldcontainer currentPage1 currentPageActive  fieldwidth100    "  style=" ">
<div id="row7" class="currentPage1 currentPageActive">
<div class="rowleft"  style="text-align:left; ">
<label class="class123-label class123-fieldname fontbold  requiredfield " id="id123-title1744005" style="position: relative;" for="id123-control1744005" >No. of Guests</label><!--[if lte IE 7]><span class="requiredspan">*</span><![endif]--><br/><label class="class123-labelinfo" id="id123-titlemic1744005">As close to accurate as you can get.</label></div>
<div class="rowright" align="left" style=""><input type="hidden" id="errorflagrow7" value=""/><input id="id123-control1744005" name="control1744005"  onclick=" InputActions(this,'row7');" onkeyup=" InputActions(this,'row7');  " onchange="InputRules(1744005); ; " type="text" value="" style="width:120px; max-width:96% !important; position:relative;" />
</div></div>
</div>
<!-- fieldcontainer ends -->

<!-- fieldcontainer -->
<div id="fieldcontainer8" class="fieldcontainer currentPage1 currentPageActive  fieldwidth100    "  style=" ">
<div id="row8" class="currentPage1 currentPageActive">
<div class="rowleft"  style="text-align:left; ">
<label class="class123-label class123-fieldname fontbold  requiredfield " id="id123-title1744009" style="position: relative;" for="id123-control1744009" >Style of Event</label><!--[if lte IE 7]><span class="requiredspan">*</span><![endif]--></div>
<div class="rowright" align="left" style=""><input type="hidden" id="errorflagrow8" value=""/><select id="id123-control1744009" onclick=" InputActions(this,'row8');" onkeyup=" InputActions(this,'row8');  " onchange="InputRules(1744009); ; " name="control1744009" style="max-width:400px;" class="class123-select ">
<option value="Dinner" selected="selected" >Dinner</option>
<option value="Cocktails"  >Cocktails</option>
<option value="Wine & Cheese"  >Wine & Cheese</option>
<option value="Other"  >Other</option>
</select>
</div></div>
</div>
<!-- fieldcontainer ends -->

<!-- fieldcontainer -->
<div id="fieldcontainer9" class="fieldcontainer currentPage1 currentPageActive  fieldwidth100    "  style=" ">
<div id="row9" class="currentPage1 currentPageActive">
<div class="rowleft"  style="text-align:left; ">
<label class="class123-label class123-fieldname fontbold " id="id123-title1744019" style="position: relative;" for="id123-control1744019" >Budget</label><br/><label class="class123-labelinfo" id="id123-titlemic1744019">Although not required, providing a budget will help us coordinate your event more efficiently. </label></div>
<div class="rowright" align="left" style=""><input type="hidden" id="errorflagrow9" value=""/><input id="id123-control1744019" name="control1744019"  onclick=" InputActions(this,'row9');" onkeyup=" InputActions(this,'row9');  " onchange="InputRules(1744019); ; " type="text" value="" style="width:144px; max-width:96% !important; position:relative;" />
</div></div>
</div>
<!-- fieldcontainer ends -->


<!-- Buttons begin here -->
<div id="fieldcontainer10" class='fieldcontainer thebuttons' style="">
<div class="currentPage1 currentPageActive"><div class='rowleft'> </div><div class='rowright' align="left"><input type="hidden" name="go_back_and_edit" id="go_back_and_edit" value="0" /><input OnClick="  this.style.display='none'; insertPleaseWaitDiv(this,'Please wait...');  " type="submit" class="formdefaultbut" style="background-color:#C80042; padding:3px 10px" id="id123-button-send"  value="Send"/>
</div></div>
</div>
<!-- fieldcontainer ends -->
<!-- Buttons end here -->
</div>
<input type="hidden" name="PHPSESSID" value="79fjne7ju332choccimjsk2db4"/>
<div style="height:1px; display: none; visibility: hidden;">
<input type="text" name="email"/>
</div>


    <input type="hidden" name="hiddenfields" id="hiddenfields" value=""/>
    <input type="hidden" name="hiddenfields_pages" id="hiddenfields_pages" value=""/>
    <input type="hidden" name="activepage" id="activepage" value="1"/>
    <input type="hidden" name="totalpages" id="totalpages" value="1"/>
    <input type="hidden" name="nextpagenr" id="nextpagenr" value="2"/>
    <input type="hidden" name="prevpagenr" id="prevpagenr" value="0"/>
    <script type="text/javascript">
    InputRules('firsttime')
    </script><input type="hidden" name="usage" value="e"/>
</form>
<p align='center' style='float:left; width:100%'><font size="1" face="Verdana, Geneva, sans-serif" color="#000000"><a href="http://www.123contactform.com">Web form</a> generated by 123ContactForm</font></p></center><!-- formalign ends -->
<script type="text/javascript">multiPageTotal=1;</script>
<p style='clear:both'></p>

  <script type="text/javascript">
  //MNG: Special Script for Sisow And multipage
  SisowAndMultipage();
  </script>

<!-- www.123contactform.com script ends here -->
